<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Masker</title>
</head>
<body>
    <div class="container p-3 my-3 bg-dark text-white">
        <h1>Masker</h1>
        Blur faces and wipe EXIF data to share protest pictures.
    </div>

    <div class="container">
        <div class="row">
           <div class="container mt-3">
              {{if .Success}}
              <div class="alert alert-success alert-dismissible">
                 <button type="button" class="close" data-dismiss="alert">&times;</button>
                 <strong>Success!</strong> Go to <a href="/download/{{.ID}}">this page</a> to recover your picture</strong>
                </div>
              {{end}}
              {{if .Error}}
              <div class="alert alert-danger alert-dismissible">
                 <button type="button" class="close" data-dismiss="alert">&times;</button>
                 <strong>Error!</strong> {{.ErrorMessage}}
              </div>
              {{end}}
              <h2>Upload a file</h2>
              <p>To upload a file, use the upload bar below to choose your file. Once you have selected your file, press the 'Submit' button.</p>
              <p>The size should be < 15Mo</p>
              <form action="/" method="POST" enctype="multipart/form-data">
                 <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input" id="customFile" name="filename">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                 </div>
                 <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                 </div>
              </form>
              <br>
              <p class="text-danger"> <strong>Warning !</strong> some pictures may need to be modified by hand !</p>
              <br>
              <a href="https://github.com/eze-kiel/masker">Link to the GitHub of this project</a>

           </div>
        </div>
     </div>
    <script>
        $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
     </script>
</body>
</html>

